<div class="container col-md-8 col-md-offset-2">
	<h3>Intención de cursada</h3>
        <span>Elegí la carrera que estudias</span>
        <select class="form-control" ng-options="carrera as carrera.nombre for carrera in carreras" ng-model="carreraSeleccionada"></select>
        <span>Año en el que ingresaste a la facu</span>
        <input class="form-control" type="text" ng-model="respuesta.anioIngreso"/>
        <span>¿Cuantos finales aprobaste?</span>
        <input class="form-control" type="text" ng-model="respuesta.finalesAprobados"/>
        <span>¿Cuantos finales desaprobaste?</span>
        <input class="form-control" type="text" ng-model="respuesta.finalesDesaprobados"/>
        <span>¿Cuantas cursadas aprobaste?</span>
        <input class="form-control" type="text" ng-model="respuesta.cursadasAprobadas"/>
        <p>¿A que materias pensas Anotarte el proximo cuatrimestre?</p>
        	<div class="col-md-8 col-md-offset-2">
                	<span>Materia</span>
			<select class="form-control" ng-options="materia as materia.nombre for materia in carreraSeleccionada.materias" ng-model="materiaSeleccionada"></select>
            		<span>Turno</span>
			<select class="form-control" ng-options="turno for turno in turnos" ng-model="turnoSeleccionado"></select>
			<button type="submit" class="btn btn-primary btn-block" ng-click="agregarMateria()">Agregar</button>
		</div>
		<div class="col-md-12">
			<div ng-repeat="porCursar in respuesta.materias">
				<div align=center>
					<h4>{{porCursar.materia.nombre}}-<small>{{porCursar.turno}}</small></h4>
				</div>
			</div>
		</div>
	<button type="submit" class="btn btn-primary btn-block" ng-click="contestar()">Enviar Respuestas</button>
	</div>
</div>

