/.CrearDenunciaWindow.java._trace
/.DenunciaInvalidaWindow.java._trace
/.DenunciaValidaWindow.java._trace
/.DueloDeLeyendasWindow.java._trace
/.NoHayRivalWindow.java._trace
/.ResultadoDueloWindow.java._trace
/.EncuestaWindow.java._trace
/.GraciasPorResponderWindow.java._trace
